<app-animals></app-animals>

<img src="{{ animalPic }}" alt="" />

<img [src]="animalPic" />

<div class="changeOne" [class.changeTwo]="isChange"></div>

<div
  class="changeOne"
  [style.background-color]="isChange ? 'green' : 'red'"
></div>

<button (click)="change()">CHANGE</button>

<app-child></app-child>

<app-print-animal></app-print-animal>

<app-print-animal
  *ngFor="let animal of zoo"
  [animal]="animal"
  (fed)="makeAnimalFed(animal)"
>
</app-print-animal>

<h1>Total animals fed: {{ animalsFed }}</h1>

<div [appHighLight]="animationSpeed">Lorem ipsum dolor sit amet.</div>
